<div id="container-questionnaire">

    <p>
      On the following scales, please click at the point on each line
      which best describes your feeling or impression of Bumble, where
      0 indicates "not at all", and 7 indicates "very". Or, if the
      attribute does not apply, click the checkbox.
      <span class="response">

    </p>
  <br/>

  <!-- <div class="instructions well"> -->

    <form id="mdmt_bumble" action="">

      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Reliable</p><br/>
	  
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="9" name="9" min="0" max="100">
	  </div>
	
	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>		  
	
	<input type="checkbox" class="check" id="check9" name="109" value="N/A">
	<label for="check9"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>     
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
         <div class="col-md-8">
	  <p>Capable</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="10" name="10" value="N/A" min="0" max="100">	  
	  </div>

	  <!--
	  <span class="label checkbox">
	    <input type="checkbox" id="check10" name="check10" value="N/A"> Does not apply
	  </span> 
	  -->

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>	    
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
 	    <li>6</li>
	    <li>7</li>
	  </ul>

	  <input type="checkbox" class="check" id="check10" name="110" value="N/A">
	  <label for="check10"> Does not apply</label><br>
	   

	</div><br/>
      </div>           
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Predictable</p><br/>	
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="11" name="11" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check11" name="111" value="N/A">
	<label for="check11"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->
      
      <!-- beginning of a test -->


      <!--
      <div class="row-question">
	<div class="col-mid-8">
	  <p>This is a test:</p><br/>
	</div>

	<div class="col-md-8">
	  <input type="radio" name="test" value="8"> 8 - Very much a test</input><br/>
	  <input type="radio" name="test" value="7"> 7</input><br/>
	  <input type="radio" name="test" value="6"> 6</input><br/>
	  <input type="radio" name="test" value="5"> 5</input><br/>
	  <input type="radio" name="test" value="4"> 4</input><br/>
	  <input type="radio" name="test" value="3"> 3</input><br/>
	  <input type="radio" name="test" value="2"> 2</input><br/>
	  <input type="radio" name="test" value="1"> 1 - Not at all a test</input><br/>
	  <br/>
	</div>
      </div>  
      -->

      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Skilled</p><br/>	
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="12" name="12" min="0" max="100">
	</div>

	<ul class="range-labels-8" style="list-style: none;">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" class="check" id="check12" name="112" value="N/A">
	<label for="check12"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>      	   	 
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Someone you can count on</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="13" name="13" min="0" max="100">
	  </div>

   	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	 
	<input type="checkbox" class="check" id="check13" name="113" value="N/A">
	<label for="check13"> Does not apply</label><br>
	 
	
	</div><br/>
      </div> 	 
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Competent</p><br/>	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="14" name="14" min="0" max="100">
	  </div>
	  
	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
     	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check14" name="114" value="N/A">
	<label for="check14"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>	      
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Consistent</p><br/>	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="15" name="15" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check15" name="115" value="N/A">
	<label for="check15"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Meticulous</p><br/>
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="16" name="16" min="0" max="100">
	</div>

	<ul class="range-labels-8" style="list-style: none;">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" class="check" id="check16" name="116" value="N/A">
	<label for="check16"> Does not apply</label><
	 

	</div><br/>
      </div>      	     
      <!-- end of a question -->
      
      
    </form>
  <!-- </div> -->
  
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
