<div id="container-questionnaire">

  <p>
    On the following scales, please state the extent to which you agree or disagree with the following statement: "I associate the name {NAME} with the robot shown above." (1 = Strongly disagree; 7 = Strongly agree) <br/>
    You must answer all questions to continue.
    <br/> 
    <br/>
    <img src="/static/images/bumble.png"
	     alt="Image of the purple robot from the previous video"
	     width="300"
	     height="250">
  </p>

  <div class="instructions well">

    <form id="purple_association" action="">
     
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>I associate the name Bumble with the robot shown above.</p><br/>
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="41" name="41">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	</div><br/>
      </div>  
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>I associate the name Honey with the robot shown above.</p><br/>
	  
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="42" name="42">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	</div><br/>
      </div>      
      <!-- end of a question -->
      <hr/>
  </div>

  <p>
    <img src="/static/images/honey.png"
	     alt="Image of the purple robot from the previous video"
	     width="300"
	     height="250">
  </p>

    <div class="instructions well">

    <form id="purple_association" action="">
     
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>I associate the name Bumble with the robot shown above.</p><br/>
	  
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="43" name="43">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	</div><br/>
      </div>  
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>I associate the name Honey with the robot shown above.</p><br/>
	  
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="44" name="44">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	</div><br/>
      </div>      
      <!-- end of a question -->
      <hr/>
  </div>

  
  
    <p>
      On the following scales, please click the point on each line that best indicates your impression of the robots on these scales.
    </p>
  <br/>

  <div class="instructions well">

    <form id="eerieness_godspeed_scales" action="">

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>1=Reassuring to 5=Eerie</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="1" name="1">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
        </div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>1=Numbing to 5=Freaky</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="2" name="2">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
        </div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>1=Ordinary to 5=Supernatural</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="3" name="3">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
        </div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>1=Fake to 5=Natural </p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="4" name="4">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>1=Machinelike to 5=Humanlike </p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="5" name="5">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>1=Unconscious to 5=Conscious </p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="6" name"6">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>1=Artificial to 5=Lifelike </p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="7" name="7">
	  </div>
	  
	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class-"row question">
	<div class-"col-md-8"> <p>1=Moving Rigidly to 5=Moving Elegantly </p><br/>
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="8" name="8">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>

    </form>
  </div>
  <hr />

    <p>
      On the following scales, please click at the point on each line
      which best describes your feeling or impression of Bumble, where
      0 indicates "not at all", and 7 indicates "very". Or, if the
      attribute does not apply, click the checkbox.
      <span class="response">
    </p>
  <br/>

  <div class="instructions well">

    <form id="mdmt_bumble" action="">

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Reliable</p><br/>
		
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="9" name="9">
	</div>
	
	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>

	<input type="checkbox" id="check9" name="check9" value="N/A">
	<label for="check9"> Does not apply</label><br>
	
	</div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Capable</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="10" name="10">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>	    
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
 	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check10" name="check10" value="N/A">
	<label for="check10"> Does not apply</label><br>
	
	</div><br/>
      </div>           
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Predictable</p><br/>	
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="11" name="11">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check11" name="check11" value="N/A">
	<label for="check11"> Does not apply</label><br>
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a test -->


      <!--
      <div class="row question">
	<div class="col-mid-8">
	  <p>This is a test:</p><br/>
	</div>

	<div class="col-md-8">
	  <input type="radio" name="test" value="8"> 8 - Very much a test</input><br/>
	  <input type="radio" name="test" value="7"> 7</input><br/>
	  <input type="radio" name="test" value="6"> 6</input><br/>
	  <input type="radio" name="test" value="5"> 5</input><br/>
	  <input type="radio" name="test" value="4"> 4</input><br/>
	  <input type="radio" name="test" value="3"> 3</input><br/>
	  <input type="radio" name="test" value="2"> 2</input><br/>
	  <input type="radio" name="test" value="1"> 1 - Not at all a test</input><br/>
	  <br/>
	</div>
      </div>  
      -->

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Skilled</p><br/>	
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="12" name="12">
	</div>

	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" id="check12" name="check12" value="N/A">
	<label for="check12"> Does not apply</label><br>
	
	</div><br/>
      </div>      	   	 
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Someone you can count on</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="13" name="13">
	  </div>

   	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	 
	<input type="checkbox" id="check13" name="check13" value="N/A">
	<label for="check13"> Does not apply</label><br>
	
	</div><br/>
      </div> 	 
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Competent</p><br/>	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="14" name="14">
	  </div>
	  
	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
     	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check14" name="check14" value="N/A">
	<label for="check14"> Does not apply</label><br>
	
	</div><br/>
      </div>	      
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Consistent</p><br/>
	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="15" name="15">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check15" name="check15" value="N/A">
	<label for="check15"> Does not apply</label><br>
	
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Meticulous</p><br/>
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="16" name="16">
	</div>

	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" id="check16" name="check16" value="N/A">
	<label for="check16"> Does not apply</label><br>
	
	</div><br/>
      </div>      	     
      <!-- end of a question -->
      <hr/>
      
    </form>
  </div>
  <hr />

    <p>
      On the following scales, please click at the point on each line
      which best describes your feeling or impression of Honey, where
      0 indicates "not at all", and 7 indicates "very". Or, if the
      attribute does not apply, click the checkbox.
      <span class="response">
      </p>
      <br/>

      <div class="instructions well">

	<form id="mdmt_honey" action="">

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Reliable</p><br/>
		
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="17" name="17">
	</div>
	
	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" id="check17" name="check17" value="N/A">
	<label for="check17"> Does not apply</label><br>
	
	</div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Capable</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="18" name="18">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
 	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check18" name="check18" value="N/A">
	<label for="check18"> Does not apply</label><br>
	
	</div><br/>
      </div>           
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Predictable</p><br/>	
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="19" name="19">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check19" name="check19" value="N/A">
	<label for="check19"> Does not apply</label><br>
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a test -->


      <!--
      <div class="row question">
	<div class="col-mid-8">
	  <p>This is a test:</p><br/>
	</div>

	<div class="col-md-8">
	  <input type="radio" name="test" value="8"> 8 - Very much a test</input><br/>
	  <input type="radio" name="test" value="7"> 7</input><br/>
	  <input type="radio" name="test" value="6"> 6</input><br/>
	  <input type="radio" name="test" value="5"> 5</input><br/>
	  <input type="radio" name="test" value="4"> 4</input><br/>
	  <input type="radio" name="test" value="3"> 3</input><br/>
	  <input type="radio" name="test" value="2"> 2</input><br/>
	  <input type="radio" name="test" value="1"> 1 - Not at all a test</input><br/>
	  <br/>
	</div>
      </div>  
      -->

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Skilled</p><br/>	
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="20" name="20">
	</div>

	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" id="check20" name="check20" value="N/A">
	<label for="check20"> Does not apply</label><br>
	
	</div><br/>
      </div>      	   	 
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Someone you can count on</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="21" name="21">
	  </div>

   	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check21" name="check21" value="N/A">
	<label for="check21"> Does not apply</label><br>
	
	</div><br/>
      </div> 	 
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Competent</p><br/>	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="22" name="22">
	  </div>
	  
	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
     	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check22" name="check22" value="N/A">
	<label for="check22"> Does not apply</label><br>
	
	</div><br/>
      </div>	      
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Consistent</p><br/>
	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="23" name="23">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check23" name="check23" value="N/A">
	<label for="check23"> Does not apply</label><br>
	
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Meticulous</p><br/>
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="24" name="24">
	</div>

	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" id="check24" name="check24" value="N/A">
	<label for="check24"> Does not apply</label><br>
	
	</div><br/>
      </div>      	     
      <!-- end of a question -->
      <hr />
	</form>
      </div>
      <hr />

    <p>
      On the following scales, please click at the point on each line
      which best describes your feeling or impression of the robot in
      the image, where 0 indicates "not at all", and 7 indicates "very".
      Or, if the attribute does not apply, click the checkbox.
      <span class="response">
	<br/>
	<br/>
	<img src="/static/images/bumble.png"
	     alt="Image of the purple robot from the previous video"
	     width="300"
	     height="250">
       </p>
       <br/>

  <div class="instructions well">

    <form id="mdmt_purple_bot" action="">
    
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Reliable</p><br/>
		
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="25" name="25">
	</div>
	
	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" id="check25" name="check25" value="N/A">
	<label for="check25"> Does not apply</label><br>
	
	</div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Capable</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="26" name="26">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
 	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check26" name="check26" value="N/A">
	<label for="check26"> Does not apply</label><br>
	
	</div><br/>
      </div>           
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Predictable</p><br/>	
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="27" name="27">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check27" name="check27" value="N/A">
	<label for="check27"> Does not apply</label><br>
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a test -->


      <!--
      <div class="row question">
	<div class="col-mid-8">
	  <p>This is a test:</p><br/>
	</div>

	<div class="col-md-8">
	  <input type="radio" name="test" value="8"> 8 - Very much a test</input><br/>
	  <input type="radio" name="test" value="7"> 7</input><br/>
	  <input type="radio" name="test" value="6"> 6</input><br/>
	  <input type="radio" name="test" value="5"> 5</input><br/>
	  <input type="radio" name="test" value="4"> 4</input><br/>
	  <input type="radio" name="test" value="3"> 3</input><br/>
	  <input type="radio" name="test" value="2"> 2</input><br/>
	  <input type="radio" name="test" value="1"> 1 - Not at all a test</input><br/>
	  <br/>
	</div>
      </div>  
      -->

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Skilled</p><br/>	
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="28" name="28">
	</div>

	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" id="check28" name="check28" value="N/A">
	<label for="check28"> Does not apply</label><br>
	
	</div><br/>
      </div>      	   	 
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Someone you can count on</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="29" name="29">
	  </div>

   	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check29" name="check29" value="N/A">
	<label for="check29"> Does not apply</label><br>
	
	</div><br/>
      </div> 	 
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Competent</p><br/>	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="30" name="30">
	  </div>
	  
	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
     	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check30" name="check30" value="N/A">
	<label for="check30"> Does not apply</label><br>
	
	</div><br/>
      </div>	      
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Consistent</p><br/>
	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="31" name="31">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check31" name="check31" value="N/A">
	<label for="check31"> Does not apply</label><br>
	
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Meticulous</p><br/>
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="32" name="32">
	</div>

	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" id="check32" name="check32" value="N/A">
	<label for="check32"> Does not apply</label><br>
	
	</div><br/>
      </div>      	     
      <!-- end of a question -->
      <hr/>
      
    </form>
  </div>
  <hr />


    <p>
      On the following scales, please click at the point on each line
      which best describes your feeling or impression of the robot in
      the image, where 0 indicates "not at all", and 7 indicates "very".
      Or, if the attribute does not apply, click the checkbox.
      <span class="response">
	<br/>
	<br/>
	<img src="/static/images/honey.png"
	     alt="Image of the yellow robot from the previous video"
	     width="300"
	     height="250">
       </p>
       <br/>

  <div class="instructions well">

    <form id="mdmt_purple_bot" action="">
    
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Reliable</p><br/>
		
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="33" name="33">
	</div>
	
	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" id="check33" name="check33" value="N/A">
	<label for="check33"> Does not apply</label><br>
	
	</div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Capable</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="34" name="34">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
 	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check34" name="check34" value="N/A">
	<label for="check34"> Does not apply</label><br>
	
	</div><br/>
      </div>           
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Predictable</p><br/>	
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="35" name="35">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check35" name="check35" value="N/A">
	<label for="check35"> Does not apply</label><br>
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a test -->


      <!--
      <div class="row question">
	<div class="col-mid-8">
	  <p>This is a test:</p><br/>
	</div>

	<div class="col-md-8">
	  <input type="radio" name="test" value="8"> 8 - Very much a test</input><br/>
	  <input type="radio" name="test" value="7"> 7</input><br/>
	  <input type="radio" name="test" value="6"> 6</input><br/>
	  <input type="radio" name="test" value="5"> 5</input><br/>
	  <input type="radio" name="test" value="4"> 4</input><br/>
	  <input type="radio" name="test" value="3"> 3</input><br/>
	  <input type="radio" name="test" value="2"> 2</input><br/>
	  <input type="radio" name="test" value="1"> 1 - Not at all a test</input><br/>
	  <br/>
	</div>
      </div>  
      -->

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Skilled</p><br/>	
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="36" name="36">
	</div>

	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" id="check36" name="check36" value="N/A">
	<label for="check36"> Does not apply</label><br>
	
	</div><br/>
      </div>      	   	 
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Someone you can count on</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="37" name="37">
	  </div>

   	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check37" name="check37" value="N/A">
	<label for="check37"> Does not apply</label><br>
	
	</div><br/>
      </div> 	 
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Competent</p><br/>	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="38" name="38">
	  </div>
	  
	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
     	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check38" name="check38" value="N/A">
	<label for="check38"> Does not apply</label><br>
	
	</div><br/>
      </div>	      
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Consistent</p><br/>
	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="39" name="39">
	  </div>

	  <ul class="range-labels-8">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" id="check39" name="check39" value="N/A">
	<label for="check39"> Does not apply</label><br>
	
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Meticulous</p><br/>
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="40" name="40">
	</div>

	<ul class="range-labels-8">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" id="check40" name="check40" value="N/A">
	<label for="check40"> Does not apply</label><br>
	
	</div><br/>
      </div>      	     
      <!-- end of a question -->
      <hr/>
      
    </form>
  </div>
  <hr />
  
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
