<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

            <p>
               In this experiment, you will observe two robots simulating an interaction with you and will be asked to answer questions. 
               Please watch the video attentively and answer all questions carefully.
	       <br>
	       <b>Please leave the browser window maximized for the remainder of the experiment.</b>
            </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
