<div id="container-instructions">

      <p>
	You are a researcher aboard the International Space Station.
	To aid in your research, two astrobee robots have been deployed that assist in monitoring the station.
	This video simulates an interaction with these robots.
      You may watch this video as many times as you want, but you must watch the whole video at least once.
      Please click play when you're ready.
      </p>

      <button id="ppbutton" onclick="playPause()">Play/Pause</button>
      <button id="rsbutton" onclick="restart()">Restart</button>
      <p id="time" style="display:inline">Video progress:  0:00</p>
      <br>
      <video id="video1" width="960" style="margin: 0 auto; border: 9px solid #ddd;">
        <source src="/static/videos/associative_damaging.mp4" type="video/mp4">
        <source src="/static/videos/associative_damaging.ogg" type="video/ogg">

        Your browser does not support HTML5 video.
      </video>

    <script>
        var myVideo = document.getElementById("video1");

        function playPause() {
            if (myVideo.paused)
                myVideo.play();
            else
                myVideo.pause();
        }

        function restart() {
            myVideo.currentTime = 0;
            myVideo.play();
        }

        var gTimeFormat = function(seconds){
	        var m = Math.floor(seconds / 60);
	        var s = Math.floor(seconds - (m * 60)) < 10 ? '0' + Math.floor(seconds - (m * 60)) : Math.floor(seconds - (m * 60));
	        return m + ':' + s;
        };

        myVideo.ontimeupdate = function() {timeupdate()};

        function timeupdate() {
            document.getElementById("time").innerHTML = "Video progress:  "+gTimeFormat(myVideo.currentTime)+"/"+gTimeFormat(myVideo.duration);
        }
    </script>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
