<div id="container-questionnaire">

    <p>
      On the following scales, please click at the point on each line
      which best describes your feeling or impression of Tyler, where
      0 indicates "not at all", and 7 indicates "very". Or, if the
      attribute does not apply, click the checkbox.
      <span class="response">
      </p>
    <br/>

    <!--<div class="instructions well">-->

      <form id="mdmt_tyler" action="">

	<!-- beginning of a question -->
	<div class="row-question">
          <div class="col-md-8">
	    <p>Reliable</p><br/>
		
	    <div class="rangeholder">
	      <input type="range" class='not-clicked' id="17" name="17" min="0" max="100">
	    </div>
	
	    <ul class="range-labels-8" style="list-style: none;">
	      <li>0</li>
	      <li>1</li>
	      <li>2</li>
	      <li>3</li>
	      <li>4</li>
	      <li>5</li>
	      <li>6</li>
	      <li>7</li>
	    </ul>
	
	<input type="checkbox" class="check" id="check17" name="117" value="N/A">
	<label for="check17"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>     
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Capable</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="18" name="18" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
 	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check18" name="118" value="N/A">
	<label for="check18"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>           
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Predictable</p><br/>	
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="19" name="19" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check19" name="119" value="N/A">
	<label for="check19"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->
      
      <!-- beginning of a test -->


      <!--
      <div class="row-question">
	<div class="col-mid-8">
	  <p>This is a test:</p><br/>
	</div>

	<div class="col-md-8">
	  <input type="radio" name="test" value="8"> 8 - Very much a test</input><br/>
	  <input type="radio" name="test" value="7"> 7</input><br/>
	  <input type="radio" name="test" value="6"> 6</input><br/>
	  <input type="radio" name="test" value="5"> 5</input><br/>
	  <input type="radio" name="test" value="4"> 4</input><br/>
	  <input type="radio" name="test" value="3"> 3</input><br/>
	  <input type="radio" name="test" value="2"> 2</input><br/>
	  <input type="radio" name="test" value="1"> 1 - Not at all a test</input><br/>
	  <br/>
	</div>
      </div>  
      -->

      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Skilled</p><br/>	
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="20" name="20" min="0" max="100">
	</div>

	<ul class="range-labels-8" style="list-style: none;">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" class="check" id="check20" name="120" value="N/A">
	<label for="check20"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>      	   	 
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Someone you can count on</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="21" name="21" min="0" max="100">
	  </div>

   	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check21" name="121" value="N/A">
	<label for="check21"> Does not apply</label><br>
	 
	
	</div><br/>
      </div> 	 
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Competent</p><br/>	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="22" name="22" min="0" max="100">
	  </div>
	  
	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
     	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check22" name="122" value="N/A">
	<label for="check22"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>	      
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Consistent</p><br/>
	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="23" name="23" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check23" name="123" value="N/A">
	<label for="check23"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Meticulous</p><br/>
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="24" name="24" min="0" max="100">
	</div>

	<ul class="range-labels-8" style="list-style: none;">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" class="check" id="check24" name="124" value="N/A">
	<label for="check24"> Does not apply</label><br>
	 
	
	</div><br/>
      </div>      	     
      <!-- end of a question -->
            <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> 
		<p>In 1-2 sentences, briefly explain answers given:</p><br/>
	      <input type="text" name="mdmt_tyler_FR" id="mdmt_tyler_FR" size="100"/>
	</div><br/>
      </div>
      <!-- end of a question -->
	</form>
      <!-- </div> -->
      
 
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
