<div id="container-questionnaire">
  
    <p>
      On the following scales, please click the point on each line that best indicates your impression of the robots.
    </p>
  <br/>

  <div class="instructions well">

    <form id="eerieness" action="">

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>1=Reassuring to 5=Eerie</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="1" name="1" min="0" max="100">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
        </div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>1=Numbing to 5=Freaky</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="2" name="2" min="0" max="100">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
        </div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>1=Ordinary to 5=Supernatural</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="3" name="3" min="0" max="100">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
        </div><br/>
      </div>
      <!-- end of a question -->
    </form>
  </div>

      <p>
      On the following scales, please click the point on each line that best indicates your impression of the robots.
      </p>
      <br/>
  <div class="instructions well">

    <form id="godspeed" action="">
      
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>1=Fake to 5=Natural </p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="4" name="4" min="0" max="100">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>1=Machinelike to 5=Humanlike </p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="5" name="5" min="0" max="100">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>1=Unconscious to 5=Conscious </p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="6" name="6" min="0" max="100">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>1=Artificial to 5=Lifelike </p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="7" name="7" min="0" max="100">
	  </div>
	  
	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
	</div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class-"row question">
	<div class-"col-md-8"> <p>1=Moving Rigidly to 5=Moving Elegantly </p><br/>
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="8" name="8" min="0" max="100">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
	</div><br/>
      </div>
      <!-- end of a question --> 
	<hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> 
		<p>In 1-2 sentences, briefly explain answers given:</p><br/>
	      <input type="text" name="mdmt_starter_FR" id="mdmt_starter_FR" size="100"/>
	</div><br/>
      </div>
      <!-- end of a question -->	     
    </form>
  </div>
  
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
