<div id="container-questionnaire">
 
    <p>
      On the following scales, please click at the point on each line
      which best describes your feeling or impression of the robot in
      the image, where 0 indicates "not at all", and 7 indicates "very".
      Or, if the attribute does not apply, click the checkbox.
      <span class="response">
	<br/>
	<br/>
	<img src="/static/images/bumble.png"
	     alt="Image of the purple robot from the previous video"
	     width="300"
	     height="250">
       </p>
       <br/>

  <!-- <div class="instructions well"> -->

    <form id="mdmt_purple_bot" action="">
    
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Reliable</p><br/>
		
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="25" name="25" min="0" max="100">
	</div>
	
	<ul class="range-labels-8" style="list-style: none;">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" class="check" id="check25" name="125" value="N/A">
	<label for="check25"> Does not apply</label><br>
	
	</div><br/>
      </div>     
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Capable</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="26" name="26" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
 	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check26" name="126" value="N/A">
	<label for="check26"> Does not apply</label><br>
	
	</div><br/>
      </div>           
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Predictable</p><br/>	
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="27" name="27" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check27" name="127" value="N/A">
	<label for="check27"> Does not apply</label><br>
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->
      
      <!-- beginning of a test -->


      <!--
      <div class="row-question">
	<div class="col-mid-8">
	  <p>This is a test:</p><br/>
	</div>

	<div class="col-md-8">
	  <input type="radio" name="test" value="8"> 8 - Very much a test</input><br/>
	  <input type="radio" name="test" value="7"> 7</input><br/>
	  <input type="radio" name="test" value="6"> 6</input><br/>
	  <input type="radio" name="test" value="5"> 5</input><br/>
	  <input type="radio" name="test" value="4"> 4</input><br/>
	  <input type="radio" name="test" value="3"> 3</input><br/>
	  <input type="radio" name="test" value="2"> 2</input><br/>
	  <input type="radio" name="test" value="1"> 1 - Not at all a test</input><br/>
	  <br/>
	</div>
      </div>  
      -->

      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Skilled</p><br/>	
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="28" name="28" min="0" max="100">
	</div>

	<ul class="range-labels-8" style="list-style: none;">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" class="check" id="check28" name="128" value="N/A">
	<label for="check28"> Does not apply</label><br>
	
	</div><br/>
      </div>      	   	 
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Someone you can count on</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="29" name="29" min="0" max="100">
	  </div>

   	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check29" name="129" value="N/A">
	<label for="check29"> Does not apply</label><br>
	
	</div><br/>
      </div> 	 
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Competent</p><br/>	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="30" name="30" min="0" max="100">
	  </div>
	  
	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
     	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check30" name="130" value="N/A">
	<label for="check30"> Does not apply</label><br>
	
	</div><br/>
      </div>	      
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Consistent</p><br/>
	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="31" name="31" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check31" name="131" value="N/A">
	<label for="check31"> Does not apply</label><br>
	
	</div><br/>
      </div>
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Meticulous</p><br/>
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="32" name="32" min="0" max="100">
	</div>

	<ul class="range-labels-8" style="list-style: none;">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" class="check" id="check32" name="132" value="N/A">
	<label for="check32"> Does not apply</label><br>
	
	</div><br/>
      </div>      	     
      <!-- end of a question -->
       <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> 
		<p>In 1-2 sentences, briefly explain answers given:</p><br/>
	      <input type="text" name="mdmt_purple_FR" id="mdmt_purple_FR" size="100"/>
	</div><br/>
      </div>
      <!-- end of a question -->
      
    </form>
  <!-- </div> -->
  
   
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
