<div id="container-questionnaire">

    <p>
      On the following scales, please click at the point on each line
      which best describes your feeling or impression of the robot in
      the image, where 0 indicates "not at all", and 7 indicates "very".
      Or, if the attribute does not apply, click the checkbox.
      <span class="response">
	<br/>
	<br/>
	<img src="/static/images/honey.png"
	     alt="Image of the yellow robot from the previous video"
	     width="300"
	     height="250">
       </p>
       <br/>

  <!-- <div class="instructions well"> -->

    <form id="mdmt_yellow_bot" action="">
    
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Reliable</p><br/>
		
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="33" name="33" min="0" max="100">
	</div>
	
	<ul class="range-labels-8" style="list-style: none;">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" class="check" id="check33" name="133" value="N/A">
	<label for="check33"> Does not apply</label><br>
	
	</div><br/>
      </div>     
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Capable</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="34" name="34" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
 	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check34" name="134" value="N/A">
	<label for="check34"> Does not apply</label><br>
	
	</div><br/>
      </div>           
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Predictable</p><br/>	
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="35" name="35" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check35" name="135" value="N/A">
	<label for="check35"> Does not apply</label><br>
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->
      
      <!-- beginning of a test -->


      <!--
      <div class="row-question">
	<div class="col-mid-8">
	  <p>This is a test:</p><br/>
	</div>

	<div class="col-md-8">
	  <input type="radio" name="test" value="8"> 8 - Very much a test</input><br/>
	  <input type="radio" name="test" value="7"> 7</input><br/>
	  <input type="radio" name="test" value="6"> 6</input><br/>
	  <input type="radio" name="test" value="5"> 5</input><br/>
	  <input type="radio" name="test" value="4"> 4</input><br/>
	  <input type="radio" name="test" value="3"> 3</input><br/>
	  <input type="radio" name="test" value="2"> 2</input><br/>
	  <input type="radio" name="test" value="1"> 1 - Not at all a test</input><br/>
	  <br/>
	</div>
      </div>  
      -->

      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Skilled</p><br/>	
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="36" name="36" min="0" max="100">
	</div>

	<ul class="range-labels-8" style="list-style: none;">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" class="check" id="check36" name="136" value="N/A">
	<label for="check36"> Does not apply</label><br>
	
	</div><br/>
      </div>      	   	 
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Someone you can count on</p><br/>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="37" name="37" min="0" max="100">
	  </div>

   	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check37" name="137" value="N/A">
	<label for="check37"> Does not apply</label><br>
	
	</div><br/>
      </div> 	 
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Competent</p><br/>	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="38" name="38" min="0" max="100">
	  </div>
	  
	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
     	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check38" name="138" value="N/A">
	<label for="check38"> Does not apply</label><br>
	
	</div><br/>
      </div>	      
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Consistent</p><br/>
	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="39" name="39" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	  
	<input type="checkbox" class="check" id="check39" name="139" value="N/A">
	<label for="check39"> Does not apply</label><br>
	
	</div><br/>
      </div>
      <!-- end of a question -->
      
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Meticulous</p><br/>
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="40" name="40" min="0" max="100">
	</div>

	<ul class="range-labels-8" style="list-style: none;">
	  <li>0</li>
	  <li>1</li>
	  <li>2</li>
	  <li>3</li>
	  <li>4</li>
	  <li>5</li>
	  <li>6</li>
	  <li>7</li>
	</ul>
	
	<input type="checkbox" class="check" id="check40" name="140" value="N/A">
	<label for="check40"> Does not apply</label><br>
	
	</div><br/>
      </div>      	     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> 
		<p>In 1-2 sentences, briefly explain answers given:</p><br/>
	      <input type="text" name="mdmt_yellow_FR" id="mdmt_yellow_FR" size="100"/>
	</div><br/>
      </div>
      <!-- end of a question -->
      
    </form>
  <!-- </div> -->
  
  
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
       </div>
    </div>
  </div>
</div>
