<div id="container-questionnaire">

  <p>
    On the following scales, please state the extent to which you agree or disagree with the following statement: "I associate the name {NAME} with the robot shown above." (1 = Strongly disagree; 7 = Strongly agree) <br/>
    You must answer all questions to continue.
    <br/> 
    <br/>
    <img src="/static/images/bumble.png"
	     alt="Image of the purple robot from the previous video"
	     width="300"
	     height="250">
  </p>

  <div class="instructions well">

    <form id="purple_association" action="">
     
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>I associate the name Andrew with the robot shown above.</p><br/>
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="41" name="41" min="0" max="100">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	</div><br/>
      </div>  
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>I associate the name Tyler with the robot shown above.</p><br/>
	  
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="42" name="42" min="0" max="100">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	</div><br/>
      </div>      
      <!-- end of a question -->      
    </form>
  </div>

  <p>
    <img src="/static/images/honey.png"
	     alt="Image of the purple robot from the previous video"
	     width="300"
	     height="250">
  </p>

    <div class="instructions well">

    <form id="purple_association" action="">
     
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>I associate the name Andrew with the robot shown above.</p><br/>
	  
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="43" name="43" min="0" max="100">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	</div><br/>
      </div>  
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> <p>I associate the name Tyler with the robot shown above.</p><br/>
	  
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="44" name="44" min="0" max="100">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
	</div><br/>
      </div>      
      <!-- end of a question --> 
	<hr/>
      <!-- beginning of a question -->
      <div class="row question">
	<div class="col-md-8"> 
		<p>In 1-2 sentences, briefly explain answers given:</p><br/>
	      <input type="text" name="mdmt_at_FR" id="mdmt_at_FR" size="100"/>
	</div><br/>
      </div>
      <!-- end of a question -->     
  </div>
  
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
