<div id="container-questionnaire">
  <h1>Scenario</h1>

  <hr />

  <div class="col-md-8">
    <p>Below is a list of statements for evaluating trust between people and automation. There are several scales for you to rate intensity of your initial feeling of trust, or your initial impression of the system, based on the scenario described on the previous page. Please click at the point on each line which best describes your feeling or impression, where 1 indicates "not at all", and 7 indicates "extremely". 
      <span class="response"/>      
    </p>
  </div><br/>
  
  <div class="instructions well">

    <form id="postquiz" action="">


      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system is deceptive</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="1" name="1">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system behaves in an underhanded manner</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="2" name="2">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>I am suspicious of the system's intent, action, or outputs</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="3" name="3">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>I am wary of the system</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="4" name="4">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system's actions will have a harmful or injurious outcome</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="5" name="5">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>I am confident in the system</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="6" name="6">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system provides security</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="7" name="7">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system has integrity</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="8" name="8">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system is dependable</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="9" name="9">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system is reliable</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="10" name="10">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>I can trust the system</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="11" name="11">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>I am familiar with the system</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="12" name="12">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
    </form>
  </div>
  <hr />
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
